body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

.flex {
  display: flex;
}

.center {
  align-items: center;
}

.column {
  flex-direction: column;
}

.header {
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  position: fixed;
  top: 0px;
  z-index: 5;
}

.header,
.one,
.locs {
  background-color: black;
}

.logo,
.navigation,
.two,
.three {
  height: 50px;
}

.logo {
  margin-left: 10px;
}

.navigation {
  width: 400px;
  margin-right: 10px;
}

.link a {
  color: seashell;
  font-weight: bold;
}
.story {
    margin-top: 70px;
    margin-left: 70px;
}

.mission,
.one,
.locations,
.contact {
    width: 1200px;
}

.mission {
  height: 700px;
  background-image: url("./images/img-mission-background.jpg");
}

.one,
.first {
  height: 100px;
}

.monthly,
.first,
.second {
    width: 1000px;
}

.monthly {
  height: 620px;
  position: relative;
  left: 100px;
  top: 50px;
  margin-bottom: 120px;
}

.first {
  margin: 0px;
  margin-bottom: 20px;
}

.second,
.third {
  margin-top: 10px;
}

.third {
  width: 650px;
}

.box,
.image img,
.locs {
  width: 300px;
}

.box,
.second,
.third {
  height: 250px;
}

.image img,
.contact {
  height: 200px;
}

.description {
  height: 16px;
  margin: 10px;
}

.locations,
.contact {
  align-content: center;
}

.locations {
  background-image: url("./images/img-locations-background.jpg");
  height: 500px;
}
.fourth {
  width: 980px;
}

.heading {
  height: 22px;
  margin-bottom: 15px;
}
.locs {
  height: 300px;
  opacity: 1;
}

.ttc,
.cons {
  width: 220px;
}

.ttc {
  height: 44px;
}

.cons,
.number,
.copy h5 {
  height: 30px;
}

.number {
  width: 120px;
}
.copy h5{
  text-align: left;
  margin-left: 20px;
}

#around {
  justify-content: space-around;
}

#between {
    justify-content: space-between;
}

#center {
  justify-content: center;
}
