body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

.header {
  display: flex;
  background-color: black;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  position: fixed;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  height: 50px;
  margin-left: 10px;
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  height: 50px;
}

.link a {
  color: seashell;
  font-weight: bold;
}
